
@font-face {
  font-family: 'CSP_light';
  src: url('../fonts/CynthoSlabPro-Light.otf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'CSP_EL';
  src: url('../fonts/CynthoSlabPro-ExtraLight.otf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'CSP_SB';
  src: url('../fonts/CynthoSlabPro-SemiBold.otf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: HelveticaNeueL; /* Имя шрифта */
    src: url(../fonts/HelveticaNeueCyr-Light.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: HelveticaNeueM; /* Имя шрифта */
    src: url(../fonts/HelveticaNeueCyr-Medium.otf); /* Путь к файлу со шрифтом */
   }
 @font-face {
     /* Имя шрифта */
    src: url(../fonts/HelveticaNeueCyr-LightItalic.otf ); /* Путь к файлу со шрифтом */
   }
 @font-face {
    font-family: HelveticaNeueBI; /* Имя шрифта */
    src: url(../fonts/HelveticaNeueCyr-BoldItalic.otf ); /* Путь к файлу со шрифтом */
   }


 
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
 
/* Minimal base styles
More Info: https://github.com/paulirish/html5-boilerplate/blob/362d0b7/css/style.css
*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-y:scroll}
a:link{-webkit-tap-highlight-color:#FF5E99}
a:hover,a:active{outline:none}
a,a:active,a:visited{color:#607890}
a:hover{color:#036}
ul,ol{margin-left:2em}
ol{list-style-type:decimal}
nav ul,nav li{list-style:none;list-style-image:none;margin:0}
small{font-size:85%}
b,strong,th{font-weight:700}
td{vertical-align:top}
sub,sup{font-size:75%;line-height:0;position:relative}
sup{top:-.5em}
sub{bottom:-.25em}
pre{padding:15px;white-space:pre-wrap;word-wrap:break-word}
.ie6 legend,.ie7 legend{margin-left:-7px}
button,input,select,textarea{font-family:sans-serif;font-size:100%;margin:0;overflow:visible;vertical-align:baseline;width:auto}
textarea{overflow:auto;vertical-align:text-top}
label,input[type=button],input[type=submit],input[type=image],button{cursor:pointer}
input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0}
input:invalid,textarea:invalid{-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;border-radius:1px;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}
.ie7 img{-ms-interpolation-mode:bicubic}
 
/* ------------------------- Backgrounds */
/*body {background:url("../images/im_bg.gif") left top repeat;}*/
 
/* ------------------------- Generic */
body {
    /*color:#ffffff;*/
	
}
.clear {clear:both;}
img { /* Needed for mobile */
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}
 
/* ------------------------- Typography */
strong {font-weight:bold;}
p {}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
address {}
pre, code {font-family: monospace;}
 
/* Links */
a, a:visited, a:active {}
a:hover {}
 
/* ------------------------- Forms */
input {}
select {}
label {}
 
/* ------------------------- Lists */
 
/* ------------------------- Layout */
.container{position:relative;}
.navbar-default{
	background:#c1c2c4;
	min-height:80px;
}
.navbar-default .navbar-nav>li>a{
	padding-top: 35px;
padding-left: 80px;
color:#fff;
font-family: HelveticaNeueL;
font-size:18px;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#0092ce;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background:transparent;
	color:#0092ce;
}
.dropdown-menu{
	background-color:#35a2d0;
	padding:20px 60px;
}
.dropdown-menu>li>a{
	color:#fff;
	font-size:16px;
	font-family: HelveticaNeueL;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	color: #262626;
text-decoration: none;
background-color: transparent;
}
.navbar-nav>li>.dropdown-menu li ul{
	list-style:initial;
	list-style-type:square;
}
.navbar-nav>li>.dropdown-menu li ul li{
	list-style:initial;
	list-style-type:disk;
	color:#fff;
	padding:10px 0px;
}
.navbar-nav>li>.dropdown-menu li ul li a{
	color:#fff;
	font-size:16px;
	font-family: HelveticaNeueL;
	line-height:16px;
}
.navbar-nav>li>.dropdown-menu li h3{
	color:#fff;
	font-size:24px;
	font-family: 'CSP_light';
	display:block;
	height:65px;
	line-height:20px;
}
.slider{
	position:relative;
	margin-top:80px;
	
}
.brand-wrap {
position: relative;
}
.shadow-l, .shadow-r{
	position:absolute;
	z-index:99;
	width: 135px;
	height:140px;
	
}
.shadow-l{
	background:url(../images/shadow-l.png)no-repeat;
	left:0px;
	top: 10px;
}
.shadow-r{
	background:url(../images/shadow-r.png)no-repeat;
	right:0px;
	top: 10px;
}
.carousel-caption{
top:10%;
text-align:left;
	
}
.carousel-caption h1{
	color:#fff;
	font-size:62px;
	font-family: 'CSP_light';
	line-height:62px;
	padding-left: 10%;
}
.carousel-caption h1 span{
	padding-left:20%;
}
.column-4{
	background:#f0f0f0;
}
.column-inner{
	background:url(../images/inner-stripe.png)no-repeat right top;
	padding-right:30px;
	padding-top:20px;
	min-height:300px;
	position:relative;
}
.column-inner.last{
	background:none;
}
.column-inner h3{
	font-size:24px;
	color:#199cd2;
	text-align:center;
	font-family: 'CSP_light';
	margin-bottom:20px;
}
.column-inner p{
	color:#000;
	font-size:18px;
	 font-family: HelveticaNeueL;
	 line-height:20px;
}
.readmore{
	position:absolute;
	bottom:20px;
	right:30px;
}
.readmore a{
	font-size:14px;
	font-family: 'CSP_light';
	color:#199cd2;
}
.slider-wrap {
overflow: hidden;
}
.service{
	background:url(../images/service-bg.jpg)no-repeat center center;
	padding-top:150px;
	padding-bottom:125px;
}
.service h2{
	font-size:62px;
	text-align:center;
	color:#fff;
	font-family: 'CSP_light';
	font-weight:normal;
	margin-bottom:100px;
}
.r-block{
	background:rgba(255,255,255,0.5);
	border-radius:50%;
	max-width:270px;
	max-height:270px;
	height:270px;
	margin:0px auto;
}
.r-block img{
	opacity:0.5;
	max-width:100%;
}
.s-name{
	text-align:center;
	margin-top:20px;
}
.s-name a{
	color:rgba(255,255,255,0.5);
	font-size:24px;
	font-family: 'CSP_SB';
}
.s-name a:hover{
	text-decoration:none;
}
.s-inner:hover .r-block img{
	opacity:1;
}
.s-inner:hover .s-name a{
	color:rgba(255,255,255,1);
}
.about-section{
	background:#199cd2;
	padding-top:130px;
}
.a-shadow{
	background:url(../images/a-shadow.png)no-repeat center top;
	margin-top:-130px;
	height:80px;
	width:100%;
}
.about{
	text-align:center;
	
}
.a-light{
	background:url(../images/light.png)no-repeat center bottom;
	height:80px;
	}
.about h2{
	font-size:62px;
	text-align:center;
	color:#fff;
	font-family: 'CSP_light';
	font-weight:300;
	margin-bottom: 25px;
	
}
.a-link{
	display:inline-block;
	padding:75px 0px;
}
.a-link a{
	color:#fff;
	font-size:24px;
	font-family: 'CSP_light';
	padding:0px 80px;
}
.a-link a:hover{text-decoration:none;}
.a-link:hover{
	background:url(../images/a-hover.png)no-repeat center bottom;
	
}
.s-story{
	padding-top:55px;
	background:url(../images/a-shadow.png)no-repeat center top;
	text-align:center;
	padding-bottom:20px;
}
.s-story .a-light{
	margin-bottom:-20px;
}
.s-story h2{
	font-size:62px;
	text-align:center;
	color:#fff;
	font-family: 'CSP_light';
	font-weight:300;
	margin-bottom: 25px;
}
.s-link{
	display:inline-block;
	padding:80px 30px;
	text-align:center;
}
.s-link:hover{
	background:url(../images/s-hover.png)no-repeat center bottom;
}
.s-link a{
	color:#fff;
	font-size:24px;
	font-family: 'CSP_light';
	
}
.s-link a:hover{text-decoration:none;}
.a-content{
	margin-top:80px;
	overflow:hidden;
}
.a-wrap{
	overflow:hidden;
	padding-top:70px;
	padding-bottom:200px;
	height: 715px;
	position:relative;
}
.a-wrap h2{
	text-align:center;
	font-size:62px;
	color:#199cd2;
	font-family: 'CSP_light';
	margin-bottom:100px;
}
.a-wrap p{
	font-size:24px;
	color:#010101;
	font-family: HelveticaNeueL;
	line-height:24px;
}
.a-left{
	background:url(../images/a-wrap-bg-l.png)no-repeat left top;
}
.a-right{
	background:url(../images/a-wrap-bg-r.png)no-repeat right top;
}
.ab-shadow{
	background:url(../images/ab-shadow.png)no-repeat center top;
	
	height:80px;
	width:100%;
}
.a-ligth{
	background:url(../images/ab-light.png)no-repeat center bottom;
	height:200px;
	margin-top:-200px;
	position:relative;
}
.banner{
	margin-top:80px;
	height:280px;
}
.banner-ms{
	background:url(../images/banner-ms.jpg)no-repeat center;
}
.banner-pis{
	background:url(../images/pis-banner.jpg)no-repeat center;
}
.banner-me{
	background:url(../images/banner-me.jpg)no-repeat center;
}
.banner h1{
	font-size:62px;
	color:#fff;
	font-weight:400;
	font-family: 'CSP_light';
	margin-top:70px;
}
.banner-contact{
	background:url(../images/contact-banner.jpg)no-repeat center;
}
.banner-contact h1{
	text-align:center;
}
.c-info{
	padding-top:25px;
}
.c-info p{
	color:#fff;
	font-size:24px;
	font-family: HelveticaNeueL;
	line-height: 28px;
}
.grey{
	background:#f0f0f0;
}
.service-inner{
	padding-top:100px;
	background:url(../images/ab-shadow.png)no-repeat center top;
}
.sidebar h3{
	font-size:24px;
	font-family: 'CSP_light';
	color:#939498;
	margin-bottom:25px;
	
}
.sidebar ul{
	margin: 0px 0px 0px 15px;
}
.sidebar ul li{
	margin:12px 0px;
	padding-right: 60px;
}
.sidebar ul li a{
	color:#939498;
	font-size:16px;
	font-family: HelveticaNeueL;
}
.s-content{
	padding-bottom:40px;
}
.s-content h3{
	font-size:24px;
	font-family: 'CSP_light';
	color:#199cd2;
	margin-bottom:25px;
	text-align:center;
}
.s-content p, .s-content ul li{
	font-size:18px;
	font-family: HelveticaNeueL;
	color:#000;
	line-height:20px;
	margin-bottom:25px;
}
.story{
	margin-top:80px;
	padding-top:60px;
}
.story-wrap{
	margin-bottom:100px;
}
.story h3{
	text-align:center;
	font-size:62px;
	line-height:50px;
	color:#199cd2;
	font-family: 'CSP_light';
	margin-bottom:35px;
}
.story p{
	font-size:18px;
	color:#000;
	line-height:23px;
	font-family: HelveticaNeueL;
	font-weight:300;
}
.story p strong{
	font-family: HelveticaNeueM;
}
.story-right, .story-left{
	position:relative;
	top: -30px;
}
.story-right .bq{
	position:absolute;
	top:0px;
	width:340px;
}
.story-left .bq{
	position:absolute;
	right:0px;
	bottom:0px;
	width:230px;
}
#netsys .bq{
	top:20px;
}
#dc .bq{
	width:230px;
	top:20px;
}
#system .bq{
	width:250px;
}
blockquote.style1 {
  font-size: 16px;
  font-family: HelveticaNeueLI;
  font-style:italic;
  padding: 8px;
  margin: 5px;
  color:#316395;
  background-image: url(../images/bq.png);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 10px;
  
  text-align:center;
  }
  blockquote.style1 span {
    	display: block;
  	}
blockquote.style1 strong{
	font-family: HelveticaNeueBI;
}
.c-wrap{
	position:relative;
}
.map {
        position: relative;
        padding-bottom: 45%;
        height: 0;
        overflow: hidden;
    }
    .map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
.form-wrap{
	position:relative;
}
.c-form{
	width:300px;
	position:absolute;
	top:200px;
	right:0px;
	z-index:1;
	
}
.form-group{
	margin-bottom: 10px;
}
.contact-shadow{
	position:absolute;
	width:10px;
	height:100%;
	background:url(../images/contact-shadow.png)no-repeat center top;
	top:0px;
	right:-2px;
	opacity:0.7;
}
.c-form input[type="text"]{
	padding-left:15px;
	color:#939498;
	font-size:14px;
	font-family: HelveticaNeueL;
	border-radius:0px;
	border:1px solid transparent;
}
.white-group{
	background:#fff;
	position:relative;
	/*box-shadow:-5px 5px 20px rgba(0,0,0,0.3);*/
	margin-bottom: 0px;
}
.wgs{
	position: absolute;
width: 100%;
height: 100%;
background: url(../images/textarea-shadow.png)no-repeat center bottom;
top: 22px;
left: -23px;
}
.white-group textarea{
	width:100%;
	border:1px solid transparent;
	min-height: 140px;
	padding-left:15px;
	color:#939498;
	font-size:14px;
	font-family: HelveticaNeueL;
}
.btn-contact{
	background:#0092ce;
	border-radius:0px;
	color:#fff;
	font-size:14px;
	font-family: HelveticaNeueL;
}
.bottom{
	min-height:200px;
	background:url(../images/a-shadow.png)no-repeat center top;
}
.footer{
	padding-top:60px;
}
.f-col p{
	font-size:24px;
	font-family: HelveticaNeueL;
	color:#0092ce;
}
.f-col p .fa{
	color:#cacacc;
	margin-right:15px;
}
.f-col.right{
	text-align:right;
	padding-right:100px;
}
.copy, .by{
	margin-top:50px;
	color:#939498;
	font-size:18px;
	font-family: HelveticaNeueL;
}
/* ------------------------- Popups */
 
/* ------------------------- Media Queries */
 
/* ---------------------------------------------------------------------------- */
/* MEDIA QUERIES -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
 
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
@media (min-width: 768px){


}
@media (min-width: 992px){

	
}
 @media (min-width: 1200px){
	
	
 }
 
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    /* Styles */
 .a-left, .a-right{background:none;}
 .c-form{top:10px;position:relative;}
 .c-wrap{height:340px;}
 .map{padding-bottom: 0px;}
}

 
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px)
and (max-width : 480px) {
    /* Styles */
	.a-left, .a-right{background:none;}
	 .c-form{top:10px;position:relative;}
	 .c-wrap{height:340px;}
	 .banner h1{font-size:32px;margin-top: 10px;}
	 .c-info p{font-size: 18px;}
	 .map{padding-bottom: 0px;}
}
 
/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 481px)
and (max-width : 768px) {
    /* Styles */
.a-left, .a-right{background:none;}
  .c-form{top:10px;}
 
}

 
/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 769px) 
and (max-width : 1024px) {
    /* Styles */
 
}
 
/* Larger screens ----------- */
@media only screen 
and (min-width : 1024px) {
    /* Styles */
 	
}